
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Nimekiri </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">

</head>
<body>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-one-quarter">
                <h1><strong> Kõik kirjed </strong></h1><br>
                    <table class="table table-bordered table-hover">
                            <thead>
                               <tr>
                                  <th>Firstname</th>
                                  <th>Lastname</th>
                                  <th>Name</th>
                                  <th>Birthdate</th>
                                  <th>Email</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(let a of arr) {%>
                                    <tr>
                                        <td> <%= a.firstname  %> </td>
                                        <td> <%= a.lastname %> </td>
                                        <td> <%= myfuncs.joinNames(a.firstname, a.lastname) %> </td>
                                        <% if (myfuncs.isBirthday(a.birthdate)) { %>
                                            <td><strong style="color:red"> <%= myfuncs.convertDate(a.birthdate) %> </strong></td>
                                        <% } else { %>
                                            <td> <%= myfuncs.convertDate(a.birthdate) %> </td>
                                        <% } %>
                                        <td> <%= a.email.toLowerCase() %> </td>
                                    </tr>
                                <% } %> 
                            </tbody>
                        </table>    
                </div>
            </div>
        </div>
    </section>  
</body>
</html>
